<!DOCTYPE html>
<html lang = "ja-jp">
    <head>
        <title>投稿一覧</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    </head>
    <body>
        {{ post.title }}
        <br /><br />
        {{ post.published  }}
        <br /><br />
        <img src="{{ post.image.url }}"/>
        <br /><br />
        {{ post.body }}
    </body>
</html>

